<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<button class:"btn btn-primary"><a class="text-light" href="/all-movies">Go to movies</a></button>



<div class="image-container">
    <img src="/public/images/cinema.jpg" alt="Cinema">
</div>